@tailwind components;
 /*TODO: change the way this works */
@layer components {

    .startAThread {
        @apply relative flex
        items-center justify-center text-gray-900
        mx-4 hover:bg-blue-600
        hover:text-white rounded-3xl
        transition-all duration-200 ease-linear cursor-pointer
        border-2 border-blue-600 bg-blue-200 hover:border-transparent;
    }
}

.genericButtonContainer {
    border-radius: 30px;
    border: 3px solid #4B12F5;
    /*margin-left: auto;*/
    /*margin-bottom: auto;*/
    /*margin-top: auto;*/
    margin: auto;
    padding: 1% 2%;
    color: black;
}
.genericButtonContainer:hover {
    border: 3px solid black;
    color: white;
    background-color: #4B12F5;
    box-shadow: 2px 2px 2px 2px gray;
    cursor: pointer;
}

