.extendContentContainer {
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    margin: 0.5vh 0.5vw;
    padding: .75vh 1vw;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    background: #4B12F5;
    color: white;
    box-shadow: 5px 5px 5px 2px gray;
    &:hover {
        background: white;
        color: #4B12F5;
        cursor: pointer;
    }
}

.notVisible {
//     width: 0.5wh;
//     height: 0.1vh;
//     margin: 0.5vh;
    visibility: hidden;
    color: inherit;
    font-size: 4px;
}



.beginExtendContent {
//     border: 2px solid green;
//     margin: 0.5vh 0.5vw;
//     padding: 0.5vh 0.5vw;

}