/*.variables {*/
/*    --card-width: 300vw;*/
/*    --card-height: 12vh;*/
/*    --attachments-container-height: 10vh;*/
/*    --testing-things: "aqua";*/
/*}*/

.contentCard {
    /*background-color: red;*/
    height: 20vh;
    /*width: 37vw;*/
    width: inherit;
    max-width: 95%;
    /*width: 90%;*/
    /*width: fit-content;*/
    border: 1px solid black;
    box-shadow: 5px 2px 10px lightgrey;
    /*border-radius: 2vw;*/
    border-radius: 15px;
    display: flex;
    margin: 2.5%;
}

.contentCardContainer {
    border: 4px dotted black;
    display: flex;
    flex-direction: row;
    /*height: 18vh;*/
    /*width: 26vw;*/
    /*margin: auto;*/
    width: min-content;
    /*width: max-content;*/
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vw;
}

.imageContainer {
    /*height: fit-content;*/
    /*width: fit-content;*/
    height: 150px;
    width: 200px;
    /*margin-top: 1vh;*/
    /*margin-bottom: 1vh;*/
    margin: auto 0.5vw auto 0.5vw;
    /*border-radius: 2vw;*/
    overflow: hidden;
    border-radius: 15px;
    border: 4px solid green;
}

.contentContainer {
    /*height: 18vh;*/
    width: inherit;
    /*border: 4px solid purple;*/
    max-width: 70%;
    /*max-height: 80%;*/
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
    padding-left: 0.5vw;
    /*float: none;*/
}

.contentTitle {
    /*height: 5vh;*/
    /*width: 16vw;*/
    /*border: 4px solid grey;*/
    margin-right: 1vw;
    padding-top: 0.5vh;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: anywhere;
    display: block;
    line-height: 1em; /* a */
    font-size: 2.5vh;
    font-weight: bold;
}

.contentDescription {
    height: 9vh;
    width: 16vw;
    max-width: 100%;
    max-height: 40%;
    /*border: 4px dotted grey;*/
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: anywhere;
    margin-right: 1vw;
    /*display: block;*/
    line-height: 1em;
    font-size: 12pt;
}

.statsArray {
    /*height: 5vh;*/
    /*float: left;*/
    /*width: inherit;*/
    /*margin: auto auto auto auto;*/
    margin-right: 50%;
    width: 80%;
    /*border: 4px dashed orange;*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.txt {
    text-decoration: none;
}

.txt:hover {
    text-decoration: underline;
}