/*@tailwind components;*/

/*@layer components {*/

/*    .sidebar {*/
/*        @apply fixed top-0 left-0 z-50*/
/*        h-screen w-48 m-0 flex flex-col*/
/*        bg-gray-100 shadow-lg text-white;*/
/*    }*/

/*    .sidebarText {*/
/*        @apply relative flex*/
/*        items-center justify-center text-gray-900*/
/*        h-8 w-48 mt-4 mb-4 mx-auto;*/
/*    }*/

/*    .sidebarButton {*/
/*        @apply relative flex*/
/*        items-center justify-center text-gray-600*/
/*        h-8 w-40 mt-4 mb-4 mx-auto hover:bg-blue-600*/
/*        hover:text-white rounded-2xl hover:rounded-xl*/
/*        transition-all duration-200 ease-linear cursor-pointer;*/
/*    }*/


/*    .sidebarIcon {*/
/*        @apply relative flex*/
/*        items-center justify-center text-green-600*/
/*        h-12 w-12 mt-2 mb-2 mx-auto hover:bg-green-600*/
/*        hover:text-white rounded-3xl hover:rounded-xl*/
/*        transition-all duration-300 ease-linear cursor-pointer;*/

/*    }*/
/*    .sidebarTooltip {*/
/*        @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md*/
/*        text-white bg-gray-900*/
/*        text-xs font-bold*/
/*        transition-all duration-100 scale-0 origin-left;*/
/*    }*/

/*    .sidebarHr {*/
/*        @apply bg-gray-200 dark:bg-gray-800*/
/*        border border-gray-200 dark:border-gray-800 rounded-full*/
/*        mx-2;*/
/*    }*/
/*}*/

/* Agora Blue `4B12F5`*/

.sidebarContainer {
    /*border: 2px dashed blueviolet;*/
    border-right: 2px solid lightgrey;
    width: 15vw;
    min-width: max-content;
    height: min-content;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FBF9FF;
    position: sticky;
    top: 0;
}

.sidebarButton {
    margin: 0.5vh;
    /*border: 2px dashed blueviolet;*/
    border: 2px solid black;
    border-radius: 15px;
    width: 12vw;
    height: 5vh;
    align-items: center;
    display: flex;
}

.sidebarButton:hover {
    background-color: #4B12F5;
    box-shadow: 5px 5px 5px 2px gray;
    color: #eaeaea;
}


.sidebarButtonContent {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.agoraLogoContainer {
    margin: 0.5vh;
    width: 12vw;
    height: 12vh;
    /*border: 2px dashed blueviolet;*/
    /*border: 2px solid black;*/
    display: flex;
    align-items: center;
}

.agoraLogo {
    font-size: x-large;
    font-weight: bold;
    font-family: sans-serif;
    margin: auto;
    text-transform: uppercase;
}

.sidebarButtonText {
    padding: 0.5vw;
}

.sidebarCategory {
    margin: 0.5vh;
    border-bottom: 2px solid lightgrey;
    /*border-radius: 15px;*/
    width: 12vw;
    height: 5vh;
    align-items: center;
    display: flex;
}

.sidebarCategoryContent {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.trendingCategories {
    display: flex;
    align-items: flex-start;
    padding-left: 1vw;
    flex-direction: column;
    width: 12vw;
    /*border: 3px solid black;*/
}

.trendingCategoryContent {
    justify-self: flex-end;
    /*border: 3px solid black;*/
}


